:root {
		--card-width: 92vw;
		--projects-card-width: 100px;
		--projects-card-height: 180px;
}


/*-------------------- BEGIN PAGE BANNER --------------------*/
#banner {
	height: 50px;
}
#banner::before {
	height: 120px;
}
/*-------------------- END PAGE BANNER --------------------*/

/*-------------------- BEGIN PAGE WRAPPER --------------------*/
.page footer {
	position: absolute;
	padding-bottom: 10px;
	bottom: 0;
	color: #fff;
	text-align: center;
}
/*-------------------- END PAGE WRAPPER --------------------*/

/*-------------------- BEGIN HOME PAGE --------------------*/
#home .banner h1 {
	font-size: 4em;
	width: 100%;
}

#home .banner h2 {
	font-size: 1.5em;
}
/*-------------------- END HOME PAGE --------------------*/

/*-------------------- BEGIN NAVIGATION BAR TEMPLATE --------------------*/
.main-menu {
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.main-menu a {
	padding: 10px 20px;
	margin: 10px;
	font-size: 1.3em;
	width: 3.5em;
	text-align: center;
}

.main-menu a:hover {
	background-color: rgba(255, 255, 255, 0.25);
	transition: .15s;
}
/*-------------------- END NAVIGATION BAR TEMPLATE --------------------*/

/*-------------------- BEGIN ABOUT CARD --------------------*/
#about-card-main .card {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#about-card-main h1 {
	align-self: flex-start;
}
#about-card-main .profile-picture-wrapper {
	position: relative;
	margin: 15px;
	max-height: 937px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	float: right;
	box-shadow: inset 0 10px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
	border-radius: 100%;
	z-index: 1;
}

#profile-picture {
	width: inherit;
	height: inherit;
}
/*-------------------- BEGIN ABOUT CARD --------------------*/


/*-------------------- BEGIN CONTACT CARD --------------------*/

#contact-card-mobile {
	display: block;
	flex-direction: column;
	margin-bottom: 70px;
}
#contact-card-mobile h1 {
	text-align: center;
}
#contact-card-mobile hr {
	margin: 10px 0;
}

.flex-button-wrapper {
	display: flex;
	margin: auto;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}


.flex-button-wrapper a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	color: #808080;
}

.flex-button-wrapper a:focus {
	animation: contact-button-press .5s ease-out;
	outline: 0;
}

@keyframes contact-button-press {
	0% {
		background-color: #fff;
	}
	50% {
		background-color: #d3d3d3;
	}
	100% {
		background-color: #fff;
	}
}

.flex-button-wrapper a i {
	font-size: 3.5em;
	margin-bottom: 10px;
}

.flex-button {
	border-radius: 50%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.flex-button label {
	position: absolute;
	bottom: 25px;
	font-size: .75em;
}

#LinkedIn-logo-mobile {
	width: 2.80em;
	margin-bottom: 15px;
}

#contact-me .card-nav-tab-wrapper {
	display: none;
}
#contact-card-desktop {
	display: none;
}
/*-------------------- END CONTACT CARD --------------------*/

/*-------------------- BEGIN PROJECT CARDS --------------------*/
.project-card-label {
	font-size: 19px;
}
#safer .project-card-background .logo {
	height: 80px;
	margin-bottom: 20px;
	/*animation: safer-logo-animation 1.5s ease-in-out infinite;*/
}


/*-------------------- END PROJECT CARDS --------------------*/





/*-------------------- BEGIN PROJECTS --------------------*/
#presentation {
	display: none;
}

#presentation-mobile {
	display: flex;
}
/*-------------------- END PROJECTS --------------------*/
