:root {
		--card-width: 92vw;
}

/*-------------------- BEGIN PAGE BANNER --------------------*/
#banner {
	height: 50px;
}
#banner::before {
	height: 120px;
}
/*-------------------- END PAGE BANNER --------------------*/

/*-------------------- BEGIN HOME PAGE --------------------*/
#home .banner h1 {
	font-size: 4em;
}

#home .banner h2 {
	font-size: 1.5em;
}
/*-------------------- END HOME PAGE --------------------*/

/*-------------------- BEGIN NAVIGATION BAR TEMPLATE --------------------*/
.main-menu {
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.main-menu a {
	padding: 10px 20px;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
}

.main-menu a:hover {
	background-color: rgba(255, 255, 255, 0.25);
	transition: .15s;
}
/*-------------------- END NAVIGATION BAR TEMPLATE --------------------*/

/*-------------------- BEGIN ABOUT CARD --------------------*/
#about-card-main .card {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#about-card-main h1 {
	align-self: flex-start;
}
#about-card-main .profile-picture-wrapper {
	position: relative;
	margin: 15px;
	width: 100%;
	/*height: 50vw;*/
	/*height: 250px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	float: right;
	box-shadow: inset 0 10px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
	border-radius: 100%;
	z-index: 1;
}

#profile-picture {
	width: inherit;
	height: auto;
}
/*-------------------- BEGIN ABOUT CARD --------------------*/
