:root {
		--card-width: 92vw;
		--projects-card-width: 100px;
		--projects-card-height: 180px;
}

/*-------------------- BEGIN MOBILE BOILERPLATE --------------------*/
html, body {
	height: 100vh;
}
/*-------------------- END MOBILE BOILERPLATE --------------------*/


/*-------------------- BEGIN PAGE BANNER --------------------*/
#banner {
	height: 50px;
}
#banner::before {
	height: 120px;
}
/*-------------------- END PAGE BANNER --------------------*/

/*-------------------- BEGIN PAGE WRAPPER --------------------*/
.page footer {
	position: absolute;
	padding-bottom: 10px;
	bottom: 0;
	color: #fff;
	text-align: center;
    font-size: 1em;
}
/*-------------------- END PAGE WRAPPER --------------------*/

/*-------------------- BEGIN HIDDEN --------------------*/
#home-page {
	display: none;
}
#about {
	display: none;
}
#projects {
	display: none;
}

/*-------------------- END HIDDEN --------------------*/

/*-------------------- BEGIN CONTACT CARD --------------------*/
#contact-me {
	margin: 0;
}

#contact-card-mobile {
	display: block;
	flex-direction: column;
	margin-bottom: 10px;
}
#contact-card-mobile h1 {
	text-align: center;
}
#contact-card-mobile hr {
	margin: 10px 0;
}

.flex-button-wrapper {
	display: flex;
	margin: .9em auto;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}


.flex-button-wrapper a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	color: #808080;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.flex-button-wrapper a:focus {
	animation: contact-button-press .5s ease-out;
}

@keyframes contact-button-press {
	0% {
		background-color: #fff;
	}
	50% {
		background-color: #d3d3d3;
	}
	100% {
		background-color: #fff;
	}
}

.flex-button-wrapper a i {
	font-size: 3.5em;
	margin-bottom: 10px;
}

.flex-button {
	border-radius: 50%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.flex-button label {
	position: absolute;
	bottom: 1.1em;
	font-size: 1em;
    font-family: "PT Serif", serif;
}

#LinkedIn-logo-mobile {
	width: 2.80em;
	margin-bottom: 15px;
}

#contact-me .card-nav-tab-wrapper {
	display: none;
}
#contact-card-desktop {
	display: none;
}
/*-------------------- END CONTACT CARD --------------------*/

/*-------------------- BEGIN NOTE CARD --------------------*/
#mobile-portfolio-note-card span {
    font-size: 1em;
}

#mobile-portfolio-note-card i {
    font-size: 3em;
    float: right;
    color: #808080;
}

/*-------------------- END NOTE CARD --------------------*/

/*-------------------- BEGIN PROJECT CARDS --------------------*/
.project-card-label {
	font-size: 19px;
}
#safer .project-card-background .logo {
	height: 80px;
	margin-bottom: 20px;
	/*animation: safer-logo-animation 1.5s ease-in-out infinite;*/
}


/*-------------------- END PROJECT CARDS --------------------*/
