/*Generic Classes*/
html {
  /*overflow:hidden;*/
}

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  /*background-color: #6699ff;*/
  background: linear-gradient(to bottom, #6699ff 0%,#a8c5ff 100%);
  /*background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  transform: translateZ(-1);
  /*background-position: center;*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

a {
  padding: 10px 20px;
  font-family: 'Raleway', sans-serif;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transition: .15s;
  /*color:  #6699ff;*/
}

/*a:active a:hover {
  transition: 2s;
  background-color: rgba(255, 255, 255, 0.75);
  color: #6699ff;
}*/

/*Navigation Menu*/
.navbar {
  padding: 30px 0;
}

#about_button {
  transition: all .2s linear; /*hide*/
}

#projects_button {
  transition: all .2s linear; /*hide*/
}

#contact_button {
  transition: all .2s linear; /*hide*/
}

.container {
  display: flex;
  flex-flow: row; nowrap;
  justify-content: center;
  align-items: center;
}

/*Main Content*/
.index_page {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.content_box {
  width: 75%;
  max-width: 800px;
}

.banner {
  text-align: center;
}

.banner h1 {
  font-size: 8em;
  font-family: 'Lobster', cursive;
}

.banner h2 {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}

/*about page*/
.about_page {
  height: 100%;
  width: 100%;
}

.card {
  font-family: 'Raleway', sans-serif;
  width: 80%;
  max-width: 800px;
  background-color: #ffffff;
  height: auto;
  margin: auto;
  padding: 10px 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.about_name {
  color: gray;
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

#about_one.card {
  position: absolute;
  left:0;
  right: 0;
  margin: auto;
  transition: all .2s ease-in;
}

.cardup {
  transform: translateY(-50vh);
}


/*projects page*/

.index_page {
  transform: translateZ(1);
}

.projects_page {
  height: 100%;
  width: 100%;
}



/*animations*/
.about {
  transition: all 1s ease-out;
  display: inline-block;

}

.normal {
  opacity: 1;
}

.hide {
  transition: all .2s ease-out;
}

.grow {
  transform: scale(1.1);
}

.projects {
  transition: all .2s ease-out;
}

.hide-active {
  opacity: 0;
}

.about_header_animx {
  transform:translateX(-45vw);
}

.about_header_animy {
  transform:translateX(-45vw) translateY(-25vh);
}



.jw {

}
